extends ./layout/index

//- <!-- todo lo que va dentro del bloque debe ir indentado(con un tab de espacio mayor al del block)-->
block contenido
    main.container.mt-5 
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg",alt="imagen sobre Nosotros",class="img-fluid")
            .col-md-7    
                h1=pagina
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec sagittis tellus, ut convallis quam. Pellentesque rhoncus facilisis euismod. Sed sed ex eu nulla vulputate cursus ac eu enim. Aliquam facilisis diam nibh. Maecenas sagittis vel arcu eu congue. Donec maximus vitae purus quis mollis. Sed lectus massa, consequat eget venenatis eget, gravida non eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas imperdiet nisi sem, molestie sagittis dolor tincidunt a. Fusce lobortis vel nibh ac fermentum. Vestibulum non tellus in risus blandit viverra sit amet ac risus. Donec iaculis, ante at volutpat vehicula, libero arcu viverra erat, et ultricies elit lacus ac sem. Donec in ultrices tortor, ac porta enim. Vivamus gravida metus ut urna tempus, non semper tortor sollicitudin. Vestibulum vulputate posuere lacus at convallis. Pellentesque eu leo id sapien porttitor accumsan eu at neque.

                p venenatis tincidunt mauris quis consequat. Duis elit tellus, blandit consequat nisi eu, venenatis dignissim eros. Curabitur lacinia lorem sit amet dictum porttitor. Sed mollis sodales neque at suscipit. Vivamus a urna mauris. Ut id libero vulputate, imperdiet dolor in, consectetur nisl. Cras bibendum pellentesque quam vitae egestas. Integer rhoncus convallis mattis. Ut lacinia vulputate sagittis. Pellentesque mattis tincidunt pellentesque. Sed efficitur lacus ipsum, ut fermentum odio feugiat eu. Vivamus nec enim vitae lectus laoreet ultrices. Aliquam in congue nisl, a consectetur felis. Nullam quis ex at nisi posuere dapibus.

                p id rutrum lacus. Vestibulum bibendum vulputate nunc, nec vestibulum orci viverra ac. Integer enim ex, viverra ac molestie ut, rutrum eu eros. Aliquam cursus quam vel nibh consequat molestie. Pellentesque a magna a nibh vehicula condimentum. Sed tincidunt congue augue, a feugiat nunc maximus aliquam. Quisque accumsan sodales elementum. Maecenas interdum odio odio, sit amet aliquet purus facilisis quis. Vivamus tempor erat sit amet diam luctus viverra. Nunc auctor turpis sit amet rutrum hendrerit. Nulla tristique, orci eget volutpat vestibulum, quam ex maximus leo, ac mattis lacus nulla in ligula. Donec varius eu nulla eget tempor. 
    
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg",alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam et eius, voluptas at odit optio officia provident aliquam expedita, quaerat illo molestias ducimus libero deleniti nobis quod atque, a alias.

                .col-md-4
                    img(src="img/icono_destinos.svg",alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam et eius, voluptas at odit optio officia provident aliquam expedita, quaerat illo molestias ducimus libero deleniti nobis quod atque, a alias.

                .col-md-4
                    img(src="img/icono_precios.svg",alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam et eius, voluptas at odit optio officia provident aliquam expedita, quaerat illo molestias ducimus libero deleniti nobis quod atque, a alias.

