extends ./layout/index

//- <!-- todo lo que va dentro del bloque debe ir indentado(con un tab de espacio mayor al del block)-->
block contenido 

    h1(class="mt-5 text-center")=pagina
    main.container.mt-5 
        include ./layout/bloque_viajes
        
                            
          